<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow" style="width: 350px">
      <h3 class="text-center mb-4">Recuperar contraseña</h3>
      <form [formGroup]="passwordForm" (ngSubmit)="recoverPassword()">
        <!-- Campo de Email -->
        <div class="mb-3">
          <label for="email" class="form-label">Correo Electrónico</label>
          <input
            type="email"
            class="form-control"
            id="email"
            formControlName="email"
            placeholder="Ingrese su correo"
          />
          <!-- Validation Error Message -->
          <div
            *ngIf="
              passwordForm.get('email')?.invalid && passwordForm.get('email')?.touched
            "
            class="text-danger"
          >
            <small *ngIf="passwordForm.get('email')?.errors?.['required']"
              >El correo es obligatorio.</small
            >
            <small *ngIf="passwordForm.get('email')?.errors?.['email']"
              >Ingrese un correo válido.</small
            >
          </div>
        </div>
  
       
  
        <!-- Botón de Enviar -->
        <div class="d-grid" style="position: relative; text-align: center">
          <!-- Spinner -->
          <mat-spinner
            [diameter]="40"
            *ngIf="isLoading"
          
          ></mat-spinner>
  
          <!-- Button -->
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="passwordForm.invalid || isLoading"
            *ngIf="!isLoading"
          >
            Recuperar
          </button>
          <a class="mt-2" routerLink="/auth">Regresar</a>
        </div>
      </form>
    </div>
  </div>
  