<div class="card-container">
  <mat-card
    class="example-card"
    appearance="outlined"
    *ngFor="let item of items"
  >
    <mat-card-header>
      <div mat-card-avatar>
        <img 
          [src]="item.profilePicture" 
          alt="{{item.name}}" 
          class="avatar-image" 
        />
      </div>
      <mat-card-title>{{item.name}}</mat-card-title>
      <mat-card-subtitle>{{item.phone}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-actions align="end">
      <button mat-button  (click)="openEditDriverDialog(item,'0ms', '0ms')">Editar</button>
      <button mat-raised-button color="warn"   (click)="openDialog('0ms', '0ms',item)" >Eliminar</button>
    </mat-card-actions>
  </mat-card>
</div>


